@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post))
{

    <section id="one" class="wrapper style2">
        <div class="inner">

            <div class="form-group row4">
                @Model.ErrorMessage
                <br />
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { placeHolder = "Old Password" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="form-group row4">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { placeHolder = "New Password" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="form-group row4">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeHolder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div row4>
                <button type="submit" class="button button1">Change Password</button>
            </div>

        </div>
    </section>
}
